{% extends 'base/base.html' %}

{% block content %}
<div class="outer-form-box">
    <h3>Login</h3>
    <form class="model-forms" action="" method="post"> 
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="uname" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="pwd" name="password">
        </div>
        <input type="submit" class="btn submit-btn" >
    </form>
    <small>Don't have an account?  <a href="{% url 'sign_up' %}">Sign Up</a></small>
</div>
{% endblock %}